@model IEnumerable<CaraLuggage.Models.SanPham>
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/UserView.cshtml";
}
@using CaraLuggage.Controllers.DecoratorPattern;



<section id="page-header">
    <h2>#datngaynhanlientay</h2>
    <p>Tiết kiệm với các Voucher và giảm giá lên đến 70%</p>
</section>

<section class="section-p1" id="products1">
    <div class="pro-container" style="justify-content: flex-start;">
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-solid fa-filter" id="filter"></i> Lọc</button>
            <div class="dropdown-content">
                <a href="@Url.Action("PriceSortingHighToLow")">Giá từ cao đến thấp</a>
                <a href="@Url.Action("PriceSortingLowToHigh")">Giá từ thấp đến cao</a>
                <a href="@Url.Action("AlphabetSortingAToZ")">Theo thứ tự từ a - z</a>
                <a href="@Url.Action("AlphabetSortingZToA")">Theo thứ tự từ z - a</a>
            </div>
        </div>
    </div>
    <div class="pro-container">
        @foreach (var item in Model)
        {
            SalesOff sales = new SalesOff(item.product_id);
            SalesOffDecorator s = new BlackFridaySalesDecorator(sales);
            double price = (double)item.product_price;

            <div class="pro">
                <a href="@Url.Action("Index","ProductDetail", new { id=item.product_id })">
                    <img src="@item.product_image" alt="">
                    <div class="des">
                        <span>@item.ThuongHieu.brand_name</span>
                        <h5>@item.product_name</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        @if (s != null)
                        {
                            double priceAfter = s.GetSalesPrice();
                            <h4><span style="color: #ff0000">@priceAfter.ToString("#,##0 VND")</span><s style="color: #808080; margin-left: 14px;">@price.ToString("#,##0 VND")</s></h4>
                        }
                        else
                        {
                            <h4><span style="color: #ff0000">@price.ToString("#,##0 VND")</span></h4>
                        }
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </a>
            </div>
        }
    </div>
</section>

<section id="pagination">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
</section>
