
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/UserView.cshtml";
}

<section id="page-header">
    <h2>#stayhome</h2>
    <p>Save more with coupons & up to 70% off</p>
</section>

<section class="section-p1" id="products1">
    <div class="pro-container">
        @foreach (var product in ViewBag.Products)
        {
            double price = (double)product.product_price;
            <div class="pro">
                <a href="@Url.Action("","ProductDetail", new { id=product.product_id })">
                    <img src="@product.product_image" alt="">
                    <div class="des">
                        <span>@ViewBag.BrandNames[product.product_brand]</span>
                        <h5>@product.product_name</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>@price.ToString("#,##0 VND")</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </a>
            </div>
        }
    </div>
</section>

<section id="pagination">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
</section>

