@model CaraLuggage.Models.KhachHang

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/UserView.cshtml";
}

<section id="page-header" class="about-header10">
    <h2>#thongtincuaban</h2>
    <p>Nơi bạn có thể tra cứu thông tin của mình!</p>
</section>

<section id="profile" class="section-p1">
    <div class="profile-info">
        <h3>Thông tin tài khoản</h3>
        <ul class="pro-info">
            <li><a class="active1" href="@Url.Action("UserProfile", "Home", new { accountName = Model.customer_account })">Thông tin cá nhân</a></li>
            <li><a href="@Url.Action("UserOrder", "Home", new {  accountName = Model.customer_account  })">Đơn hàng</a></li>
        </ul>
    </div>

    <div class="profile-details">
        <div id="pro-edit">
            @using (Html.BeginForm("Edit", "Customers", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.customer_id)
                @Html.HiddenFor(model => model.customer_account)

                <h3>Thông tin cá nhân</h3>

                <h5>Sửa thông tin</h5>
                <div class="tenvasdt">
                    <div class="hovaten-pro">
                        <label for="">Họ và tên</label>
                        @Html.EditorFor(model => model.customer_name)
                    </div>
                    <div class="sodienthoai-pro">
                        <label for="">Số điện thoại</label>
                        @Html.EditorFor(model => model.customer_phone, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="diachi-pro">
                    <label for="">Địa chỉ</label>
                    @Html.EditorFor(model => model.customer_address, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <button class="normal" type="submit">Lưu thay đổi</button>
            }
        </div>

            @using (Html.BeginForm("Edit", "Accounts", FormMethod.Post))
            {
                 @Html.AntiForgeryToken()
                <div>
                    <h3>Đổi mật khẩu</h3>
                    <div class="pass-pro">
                        <label for="">Tên đăng nhập</label>
                        @Html.EditorFor(model => model.TaiKhoan.account_name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="pass-pro" id="pro-pass">
                        <label for="">Mật khẩu</label>
                        @Html.EditorFor(model => model.TaiKhoan.account_password, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    </div>
                    <div class="pass-pro" id="pro-pass">
                        <label for="">Mật khẩu mới</label>
                        @Html.EditorFor(model => model.TaiKhoan.account_password, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <button class="normal" type="submit">Lưu thay đổi</button>
                </div>
            }
    </div>
</section>
