@model CaraLuggage.Models.SanPham
@{
    ViewBag.Title = "Sản phẩm" + Model.product_name;
    Layout = "~/Views/Shared/UserView.cshtml";
}
@using CaraLuggage.Controllers.DecoratorPattern;

@{
    SalesOff sales = new SalesOff(@Model.product_id);
    SalesOffDecorator s = new BlackFridaySalesDecorator(sales);

    double price = (double)@Model.product_price;
}

<section id="prodetails" class="section-p1">
    <div class="single-pro-img">
        <img src="@Model.product_image" width="100%" id="MainImg" alt="">
    </div>

    <div class="single-pro-details">
        <h6>Home / @Model.LoaiSanPham.category_name</h6>
        <h4>@Model.product_name</h4>
        @if (s != null)
        {
            double priceAfter = s.GetSalesPrice();
            <h2><span style="color: #ff0000">@priceAfter.ToString("#,##0 VND")</span><s style="color: #808080; margin-left: 14px;">@price.ToString("#,##0 VND")</s></h2>
        }
        else
        {
            <h2><span style="color: #ff0000">@price.ToString("#,##0 VND")</span></h2>
        }        <select>
            <option>Select Size</option>
            <option>XL</option>
            <option>XXL</option>
            <option>Small</option>
            <option>Large</option>
        </select>
        <input name="buy-quantity" type="number" value="1">
        <a href="@Url.Action("AddToCart", "Cart", new { productId = @Model.product_id })" class="normal" style="background-color: limegreen">Add To Cart</a>
    </div>
</section>

<section class="section-p1" id="products1">
    <h2>Sản phẩm liên quan</h2>
    <div class="pro-container">
        @foreach (var product in ViewBag.relatedProduct)
        {
            SalesOff p_sales = new SalesOff(product.product_id);
            SalesOffDecorator ps = new BlackFridaySalesDecorator(p_sales);

            double p_price = product.product_price;

            if (product.product_id != Model.product_id)
            {
                <div class="pro">
                    <a href="@Url.Action("Index","ProductDetail", new { id=product.product_id })">
                        <img src="" alt="">
                        <div class="des">
                            <span>@ViewBag.BrandNames[product.product_brand]</span>
                            <h5>@product.product_name</h5>
                            <div class="star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            @if (s != null)
                            {
                                double priceAfter = ps.GetSalesPrice();
                                <h4><span style="color: #ff0000">@priceAfter.ToString("#,##0 VND")</span><s style="color: #808080; margin-left: 14px;">@p_price.ToString("#,##0 VND")</s></h4>
                            }
                            else
                            {
                                <h4><span style="color: #ff0000">@p_price.ToString("#,##0 VND")</span></h4>
                            }
                        </div>
                        <a href=""><i class="fa-solid fa-cart-shopping cart"></i></a>
                    </a>
                </div>

            }

        }
    </div>
</section>

<script>
    var MainImg = document.getElementById('MainImg');
    var smallimg = document.getElementsByClassName('small-img');

    smallimg[0].onclick = function () {
        MainImg.src = smallimg[0].src;
    }
    smallimg[1].onclick = function () {
        MainImg.src = smallimg[1].src;
    }
    smallimg[2].onclick = function () {
        MainImg.src = smallimg[2].src;
    }
    smallimg[3].onclick = function () {
        MainImg.src = smallimg[3].src;
    }
</script>

