@model IEnumerable<CaraLuggage.Models.MauSac>

@{
    ViewBag.Title = "Quản lý màu sắc (Admin)";
    Layout = "~/Views/Shared/AdminView.cshtml";
}
<style>
    .crud-btn {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin: 2px;
    }

        .crud-btn i {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

</style>


<div class="row">
    <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
                <h4 class="card-title">Bảng Quản lý Màu sắc</h4>
                @*<p class="card-category">Here is a subtitle for this table</p>*@
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.color_id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.color_name)
                            </th>
                            <th>Action</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.color_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.color_name)
                                </td>
                                <td style="height: 100%; align-items: center;">
                                    <a href="@Url.Action("Edit", new { id=item.color_id })" class="crud-btn btn-info">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a href="@Url.Action("Delete", new { id=item.color_id })" class="crud-btn btn-danger">
                                        <i class="fa-solid fa-x">
                                        </i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer clearfix">
                <a href="@Url.Action("Create", "Colors")" class="btn btn-success float-left">Thêm màu sắc mới</a>
            </div>
        </div>
    </div>
</div>
